apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: domino-frontend-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: /?(.*)
        backend:
          service:
            name: {{ .Release.Name }}-frontend-service
            port:
              number: 80

