name: Build and publish Domino Frontend images

on:
  push:
    branches:
      - dev
    paths:
      - frontend/**

jobs:
  release-domino-frontend-k8s:
    name: Domino Frontend Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true # Push is a shorthand for --output=type=registry
          tags: ghcr.io/tauffer-consulting/domino-frontend-dev:k8s
          context: frontend
          file: frontend/Dockerfile.prod # Path to the Dockerfile
  release-domino-frontend-compose:
    name: Domino Frontend Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true # Push is a shorthand for --output=type=registry
          tags: ghcr.io/tauffer-consulting/domino-frontend-dev:compose
          context: frontend
          file: frontend/Dockerfile.prod.compose # Path to the Dockerfile